.header > .header_container {
  height: 3.75rem;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 6.25rem;
  object-fit: contain;
  margin: 0 1.25rem;
  margin-top: 18px;
  cursor: pointer;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header_searchInput {
  height: 0.575rem;
  padding: 0.585rem;
  border: none;
  border-radius: 0;
  width: 100%;
  outline-width: 0;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 0.575rem;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -moz-user-select: none;
}

.header_searchIcon {
  height: 5.575rem;
  padding: 0.125rem;
  background-color: #cd9042;
}

a {
  text-decoration: none;
}

.header_optionLineOne {
  font-size: 0.625rem;
}
.header_optionLineTwo {
  font-size: 0.8125rem;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.header_basketCount {
  margin: 0.625rem;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: white;
}

.hide-for-desktop {
  display: none;
}

@media screen and (max-width: 43.75rem) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .header_search {
    width: 0.625rem;
    margin-right: 1rem;
  }

  .header_logo {
    width: 3em;
    margin-right: 0.5rem;
  }

  .header_option {
    display: none;
  }

  .header_searchInput {
    width: 100%;
  }

  .header_container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header_optionMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-left: 0.9375rem;
  }

  .header_optionMobile {
    border-left: 1px solid white;
  }

  .hide {
    border: none;
  }

  .header_optionMobile > span {
    font-size: 0.5rem;
    text-align: center;
  }

  .home_moblieOpenedMenu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff;
    height: 5rem;
    z-index: 5;
    background-color: #131921;
    transition: 200ms ea;
  }
  a {
    margin-right: 1rem;
  }
  span {
    display: block;
    width: 1.625rem;
    height: 0.125rem;
    background-color: #ffffff;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
    border: none;
  }

  span:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .opened {
    display: block;
  }

  .opened > span:first-child {
    transform: rotate(45deg);
  }
  .opened > span:nth-child(2) {
    opacity: 0;
  }
  .opened > span:last-child {
    transform: rotate(-45deg);
  }

  .hide-for-mobile {
    display: none;
  }

  .header_optionBasket {
    border-left: 1px solid white;
    padding-left: 0.3125rem;
    margin-left: 0.3125rem;
  }
}

@media screen and (max-width: 20rem) {
  .header_toggle {
    margin-right: 0.35rem;
  }
}
